.card {
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    width: 200px;
    position: relative;
  }
  
  .card::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #8c8c8c;
    opacity: 0.1;
    z-index: -1;
  }